@model MyChat.UserControlViews.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<h2>@Model.Login</h2>
<style>
.form-floating{
    width:55%
}
</style>
<form asp-action="ChangePassword" asp-controller="Users" class="form-floating mb-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-floating">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Login" />
    </div>

    <div class="form-floating">
        <input type="password" asp-for="OldPassword" class="form-control" id="old" />
        <label for="old">old password</label> 
    </div>
    <div class="form-floating">
        <input type="password" asp-for="NewPassword" class="form-control" id="floatingInput"/>
        <label for="floatingInput">new password</label> <br />
        <input type="submit" class="btn btn-primary" value = "save"/>
    </div>
</form>              