html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: rgba(255, 0, 0, 0.74);
  background-color: rgba(2, 3, 7, 0.83);
}


.form-floating {
    width: 55%
}

.room-button {
  color: #e11515;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 1rem 0;
  height: 68px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px rgba(15, 39, 82, 0.8);
  text-align: center;
}

.btn-primary{
  background-color: black;
  color: #bb2d3b;
  border-color: #bb2d3b;
  margin-left: 1rem;
  position: running(dadad);
}
.room-button {
  background-color: rgba(2, 2, 5, 0.83);
}

.room-button > a {
  color: black;
}
.room-button > strong {
  font-size: 36px;
}

.room-button:hover {
  box-shadow: 0 2px 3px 1px #222;
}


.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 40rem;
  border: dashed;
  overflow: visible; /* содержимое не обрезается */
  margin-bottom: 10%;
  
}

.chat-body {
  background-color: #800101;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  overflow: auto;
  color: aliceblue;
}

.message {
  display: flex;
  flex-direction: row;
  margin-top: 0.2rem;
}

.message:first-child {
  margin-top: auto;
}

.message > * {
  padding: 0.2rem;
}

.message > header {
  font-weight: bold;
  min-width: 100px;
  text-align: right;
}
.message > p {
  margin: 0;
  flex-grow: 5;
}
.message > footer {
  min-width: 30px;
  text-align: center;
}

.chat-input {
  background-color: rgba(24, 24, 24, 0.36);
  min-height: 70px;
  max-height: 70px;
  z-index: 25;
  box-shadow: 0 -1px 2px 0 #500303;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.chat-input > input {
  flex-grow: 2;
}

.chat-input > button {
  flex-grow: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #9b9a9a;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ab0808;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #e51414;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-content: space-around;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}