*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/*body{
  background-color: #1d61c1;
}*/

.chat-container{
  margin-top: 2%;
  position: revert;
  overflow-y:auto;
  overflow-x:auto;
  /*height: 1000px;
  width: 100%;*/
  
  /*при масштабировании проявляется на скроллбаре*/
  /*background-image: linear-gradient(to right, #1c00f2, #453f96);*/
  /*background: rgb(133, 134, 136);*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 3%;
  box-shadow: 3px 2px 40px 3px rgba(2, 2, 5, 0.83);
}

::placeholder{
  color: #fff;
}

.chatbox{
  padding: 4px;
  flex-grow: 1;
  flex-direction: row;
  background: rgb(34, 34, 37);
  width: 60%;
  min-width: 250px;
  display: flex;
  border-radius: 2%;
  box-shadow: 3px 2px 40px 3px rgba(2, 2, 5, 0.83);

}
.tester{
  flex: 1;
}
.tester input{
  /*margin: 1rem 1rem;*/
  margin-top: 1rem;
  margin-bottom: 4px;
  border: 0;
  outline: none;
  padding: 12px;
  background: rgb(28, 33, 47);
  width: 100%;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #d7d1d1;
  font-weight: lighter;
  font-size: 16px;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  text-align: center;
  box-shadow: 3px 3px 6px 3px rgba(2, 2, 5, 0.16);
}
.tester input:hover{
  box-shadow: 1px 2px 15px 2px rgb(8, 9, 10);
}
.col-one{
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  height: 30rem;
  overflow-y: auto;
  }
.col-one::-webkit-scrollbar {
  width: 1em;
}
.col-one::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(34, 70, 120);
}
.col-one::-webkit-scrollbar-thumb {
  background-color: rgb(28, 33, 47);
  outline: 1px solid rgb(34, 70, 119);
}

.col-two {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10%;
  flex-basis: 150px;
  background: #224679;
  border-radius: 10%;
}

.msg-row{
  display: flex;
  align-items: center;
  /*поковырял*/
  margin: 12px;
  padding-left: 20px;
}

.msg-text{
  background: rgb(34, 70, 120);
  padding: 10px 10px;
  border-radius: 8px;
  flex-basis: 80%;
  font-weight: 300;
  /*              */
}
.msg-text h2{
  font-family: -apple-system, emoji ;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2px;
}
.msg-text p{
  font-family: "Segoe UI", Arial, sans-serif;
  color: #d7d1d1;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 2px;
}
.msg-img{
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
}
.msg-row2{
  justify-content: flex-end;
}

.col-two h3{
  text-align: center;
  margin-top: 4px;
  font-size: small;
}
.col-two ul{
  list-style: none;
  padding: 20px;
}
.col-two ul li{
  padding: 5px 0;
  font-size: small;
  font-family: "Mongolian Baiti", serif;
}
.col-two ul li::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: palegreen;
  display: inline-block;
  margin-right: 10px;
}
.col-two ul li.offline::before{
  background: red;
}
/*на ::after можно повесить х(удаление из комнаты для админа)*/



