*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.chat-container{
  /*top: 123%;
  bottom: 10%;
  left: 10%;
  right: 10%;*/
  margin-top: 2%;
  position: revert;
  overflow-y:auto;
  overflow-x:auto;
  
  /*height: 80vh;
  width: 100%;*/
  background-image: linear-gradient(to right, #1c00f2, #453f96);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

::placeholder{
  color: #fff;
}

.chatbox{
  flex-grow: 1;
  flex-direction: row;
  background: #1d61c2;
  width: 60%;
  min-width: 250px;
  display: flex;
}
.tester{
  flex: 1;
}
.tester input{
  border: 0;
  outline: none;
  padding: 20px 40px;
  background: #3874c9;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 100;
}
.col-one{
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  height: 30rem;
  overflow-y: auto;
  
}
.col-one::-webkit-scrollbar {
  width: 1em;
}
.col-one::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.col-one::-webkit-scrollbar-thumb {
  background-color: rgba(7, 53, 138, 0.4);
  outline: 1px solid rgb(7, 128, 215);
}

.col-two {
  flex-basis: 250px;
  background: #3874c9;
}

.msg-row{
  display: flex;
  align-items: center;
  margin: 40px;
}
.msg-text{
  background: rgba(255,255,255,0.1);
  padding: 20px 40px;
  border-radius: 8px;
  flex-basis: 80%;
  font-weight: 300;
}
.msg-text h2{
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
}
.msg-img{
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
}
.msg-row2{
  justify-content: flex-end;
}


.col-two h3{
  text-align: center;
  margin-top: 40px;
  font-weight: 400;
}
.col-two ul{
  list-style: none;
  padding: 30px;
}
.col-two ul li{
  padding: 5px 0;
}
.col-two ul li::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: palegreen;
  display: inline-block;
  margin-right: 10px;
}
.col-two ul li.offline::before{
  background: red;
}
/*на ::after можно повесить х(удаление из комнаты для админа)*/



