@model MyChat.Models.Room
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>
    <span style="background-color:slategrey; color: whitesmoke">
        @User.Identity.Name
    </span>, welcome to the room "
    <span style="background-color:slategrey; color: whitesmoke">
        @Model.Name
    </span>"
</h2>
