<link rel="stylesheet" href="~/css/Test.css" />

<div class="chat-container">
    <div class="chatbox">
        <div class="tester">
            <div class="col-one">
                <div class="msg-row">
                    <div class="msg-text">
                        <h2>Steve Austin</h2>
                        <p>some message some message</p>
                    </div>
                    <img src="~/favicon.ico" class="msg-img" alt=""/>
                </div>
                <div class="msg-row msg-row2">
                    <img src="~/favicon.ico" class="msg-img" alt=""/>
                    <div class="msg-text">
                        <h2>Any Austin</h2>
                        <p>qwerty qwertyssssssss dsad qwertydasd aad aaaaasda sadasdasdasd aaa</p>
                    </div>
                </div>
                <div class="msg-row">
                    <div class="msg-text">
                        <h2>Steve Austin</h2>
                        <p>dasdsad sad dd</p>
                    </div>
                    <img src="~/favicon.ico" class="msg-img" alt=""/>
                </div>
                <div class="msg-row msg-row2">
                    <img src="~/favicon.ico" class="msg-img" alt=""/>
                    <div class="msg-text">
                        <h2>Any Austin</h2>
                        <p>AYE BRODYAGA</p>
                    </div>
                </div>
                <div class="msg-row">
                    <div class="msg-text">
                        <h2>Steve Austin</h2>
                        <p>AYE BRODYAGA</p>
                    </div>
                    <img src="~/favicon.ico" class="msg-img" alt=""/>
                </div>
            </div>
            <input type="text" placeholder="Type your message here...">
        </div>
        <div class="col-two">
            <h3>Friends List</h3>
            <ul>
                <li>John</li>
                <li class="offline">Mia</li>
                <li>Rob</li>
                <li>Din</li>
                <li>Ben Simmons</li>
            </ul>
        </div>
    </div>
</div>
