@model MyChat.ViewModels.LoginViewModel

@if (User.Identity.IsAuthenticated)
{
    <br />
    <h3>Вы уже авторизованы</h3>
    <h3>Хотите выйти?</h3>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}

else
{
<h2>LOGIN</h2>
<h2>Вход в приложение</h2>

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Login"></label><br />
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
}