@model MyChat.ViewModels.RegisterViewModel
<h2>REGISTATION</h2> <br />

<form method="post" asp-controller="Account" asp-action="Register">
	<div asp-validation-summary="ModelOnly" class="valid"></div>

	<div class="form-group">
		<label asp-for=Login></label><br/>
		<input asp-for=Login class = "form-control" />
		<span asp-validation-for=Login class="valid"></span>
	</div>
	
	<div class="form-group"> 
		<label asp-for=Password></label><br/>
		<input asp-for=Password class = "form-control" />
		<span asp-validation-for=Password class="valid"></span>
	</div>

	<div class="form-group">
		<label asp-for=PasswordConfirm></label><br/>
		<input asp-for=PasswordConfirm class = "form-control" />
		<span asp-validation-for=PasswordConfirm class="valid" ></span>
	</div>

	<div class="form-group">
		<br/>
		<input type="submit" class="btn btn-primary" value="sign up" />
	</div>
</form>
<style>
	.valid{
		color:orangered;
		animation:cubic-bezier();
	}
</style>