@{
    ViewData["Title"] = "Home Page";
}

<style>
.myDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height:100px;
    margin: -50px 0 0 -100px;
}
</style>
 
@if(User.Identity.IsAuthenticated)
{
    <h1>Wellcum, @User.Identity.Name</h1>
 
    <h2>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" class = "btn btn-primary" value="log out" />
    </form>
    </h2>
}

else
{

    <div class="myDiv">
        @Html.ActionLink("log in", "Login", "Account", null, new {@class = "btn btn-success"})
        @Html.ActionLink("sign up", "Register", "Account", null, new {@class = "btn btn-primary"})
    </div>
    
    //<p><a asp-controller="Account" asp-action="Login">Login</a></p>
    //<p><a asp-controller="Account" asp-action="Register">Register</a></p>
}